@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto:ital@1&display=swap');
:root{
  --backgroundDarkColor: hsl(207, 26%, 17%);
  --backgroundLightColor: hsl(180, 20%, 96%);
  --backgroundDarkSidebar: hsl(208, 26%, 23%);
  --lightModeText: hsl(200, 15%, 8%);
  --white:hsl(0, 0%, 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.dark-mode{
  background-color:var(--backgroundDarkColor);
  color: var(--white);
}
.light-mode{
  background-color: var(--backgroundLightColor);
  color: var(--backgroundDarkColor);
}
.dark-modeForBtnMode{
  background-color: #F1C40F ;
}
.light-modeForBtnMode{
  background-color: var(--backgroundDarkColor);
}
.dark-modeForBtnAdd{
  background-color: rgba(131, 131, 155, 0.3) ;
  color: var(--white);
}
.light-modeForBtnAdd{
  background-color: rgb(240, 255, 255,0.8);
  color:var(--lightModeText) ;
}
.dark-modeSidebar{
  background-color: var(--backgroundDarkSidebar);
  color: var(--white);
}
.light-modeSidebar{
  background-color: var(--white);
  color:var(--lightModeText);
}
.container{
    min-height: 100vh !important;
}
.header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 5;
}
.header h2,button{
  margin-left: 4em;
  cursor: pointer;
}
.header button{
  margin-right: 2.1em;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}
.btn{
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.header button:active{
  box-shadow: 0 0 50px rgb(5, 248, 78);
}
.main{
  background-image: url('./components/img/main-background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 25em;
  position: relative;
}
.main-elements{
  padding-top: 8em;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.main-elements h1{
  font-size: 3rem;
  margin-left: -.1em;
}
.main-elements h2{
  margin-top: -7px;
  font-size: 1.5rem;
}
.main-elements button{
  width: 7.5em;
  height: 2.4em;
  margin-left: -0em;
  margin-top: 2.3em;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .5px;
}
.sidebar-homepage{
  position: absolute;
  width: 30rem;
  height: 90%;
  right: 0;
  top:70px;
  z-index: 10;
}
.sidebar-homepage-elements{
  width: 27rem;
  height: 100%;
  margin: 0  auto;
}
.sidebar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-selects{
  margin-top: 2em;
}
.sidebar-selects p{font-weight: 600;}
.sidebar-select{
  margin-top: 1em;
  border-radius: 5px;
  outline: none;
  border: none;
}
.sidebar-select:focus{
  border: 3px solid rgb(7, 200, 248);
}
.select-city{
  margin-top: 1em;
}
.sidebar-select {
  width: 26rem;
  height: 2.2rem;
}
.sidebar-footer{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
.sidebar-footer button{
  height: 2em;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-img{
  padding-right: 5px;
}
.btn-save{
  background-color: rgb(0, 255, 0);
}
.carts{
  width: 70%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  margin-top: 2rem;
}
.cart{
  width: 100%;
  height: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-image: url('./components/img/cart-background.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: var(--white);
  transition: all 0.5s;
}
.cart:hover{
  background-image: url('./components/img/cart-background-hover.jpeg');
}
.cart-day{
  font-weight: 800;
  font-size: .8rem;
  padding-top: 15px;
}
.cart-day-number{
  transform: translateY(-10px);
}
.cart-city,.temp{
  font-weight: 600;
}
.cart-city-country{
  display: inline-block;
  height: 1.1rem;
  min-width: 1.8rem;
  border-radius: 9px;
  background-color: rgb(250, 176, 37);
  font-size: 0.7rem;
  font-weight: 800;
  transform: translate(4px,-7px);
}
.cart-weather-state{
  letter-spacing: .5px;
  transform: translateY(-13px);
}
.cart-weather-info-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1px;
  height: 3.5rem;
  width: 90%;
  border-radius: 7px;
  background: rgba(255, 253, 253, 0.3);
  margin-bottom: 18px;
}
.cart-weather-temp-info{
  font-size: 0.9em;
  margin-bottom: 3px;
}


