@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto:ital@1&display=swap');
:root{
  --backgroundDarkColor: hsl(207, 26%, 17%);
  --backgroundLightColor: hsl(180, 20%, 96%);
  --backgroundDarkSidebar: hsl(208, 26%, 23%);
  --lightModeText: hsl(200, 15%, 8%);
  --white:hsl(0, 0%, 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.dark-mode{
  background-color:var(--backgroundDarkColor);
  color: var(--white);
}
.light-mode{
  background-color: var(--backgroundLightColor);
  color: var(--backgroundDarkColor);
}
.dark-modeForBtnMode{
  background-color: #F1C40F ;
}
.light-modeForBtnMode{
  background-color: var(--backgroundDarkColor);
}
.dark-modeForBtnAdd{
  background-color: rgba(131, 131, 155, 0.3) ;
  color: var(--white);
}
.light-modeForBtnAdd{
  background-color: rgb(240, 255, 255,0.8);
  color:var(--lightModeText) ;
}
.dark-modeSidebar{
  background-color: var(--backgroundDarkSidebar);
  color: var(--white);
}
.light-modeSidebar{
  background-color: var(--white);
  color:var(--lightModeText);
}
.container{
    min-height: 100vh !important;
}
.header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 5;
}
.header h2,button{
  margin-left: 4em;
  cursor: pointer;
}
.header button{
  margin-right: 2.1em;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}
.btn{
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.header button:active{
  box-shadow: 0 0 50px rgb(5, 248, 78);
}
.main{
  background-image: url('./components/img/main-background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 25em;
  position: relative;
}
.main-elements{
  padding-top: 8em;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.main-elements h1{
  font-size: 3rem;
  margin-left: -.1em;
  font-weight: 700;
}
.main-elements h2{
  margin-top: -7px;
  font-size: 1.6rem;
  font-weight: 500;
}
.main-elements button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 7.5em;
  height: 2.4em;
  margin-left: -0em;
  margin-top: 2.3em;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.plus{
  font-size: 1.7em;
  font-weight: 100;
  margin-left: 10px;
}
.shadow{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.4);
}
.sidebar{
  position: fixed;
  width: 30rem;
  height: 100%;
  right: 0;
  top:0;
  z-index: 15;
}
.sidebar-elements{
  width: 27rem;
  height: 100%;
  margin: 0  auto;
}
.sidebar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-selects{
  margin-top: 2em;
}
.sidebar-selects p{font-weight: 600;}
.sidebar-select{
  margin-top: 1em;
  border-radius: 5px;
  outline: none;
  border: none;
}
.sidebar-select:focus{
  border: 3px solid rgb(7, 200, 248);
}
.select-city{
  margin-top: 1em;
}
.sidebar-select {
  width: 26rem;
  height: 2.2rem;
}
.sidebar-mid{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-mid-text{
  font-size: 1.5em;
  text-align: center;
}
.sidebar-mid-text-bold{
  font-weight: 600;
}
.btn-remove{
  background-color: rgb(211, 4, 4);
  color: var(--white);
}
.remove-btn{
  padding-left: 0.7em;
}
.sidebar-footer{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
.sidebar-footer button{
  height: 2em;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-img{
  padding-right: 5px;
}
.btn-save{
  background-color: rgb(0, 255, 0);
}
.carts{
  width: 65rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 2rem;
}
.cart, .popup-cart{
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-image: url('./components/img/cart-background.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: var(--white);
  transition: all 0.3s;
  position: relative;
  margin-left: 1em;
}
.cart:hover, .popup-cart:hover{
  background-image: url('./components/img/cart-background-hover.jpeg');
}
.cart-day{
  font-weight: 800;
  font-size: .8rem;
  padding-top: 15px;
}
.cart-day-number{
  transform: translateY(-10px);
}
.cart-city,.temp{
  font-weight: 600;
}
.cart-city-country{
  display: inline-block;
  height: 1.1rem;
  min-width: 1.8rem;
  border-radius: 9px;
  background-color: rgb(250, 176, 37);
  font-size: 0.7rem;
  font-weight: 800;
  transform: translate(4px,-7px);
}
.cart-weather-state{
  letter-spacing: .5px;
  transform: translateY(-10px);
}
.cart-weather-info-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1px;
  height: 3.5rem;
  width: 90%;
  border-radius: 7px;
  background: rgba(255, 253, 253, 0.4);
  margin-bottom: 18px;
}
.cart-weather-temp-info{
  font-size: 0.9em;
  margin-bottom: 3px;
}
.icon-menu{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.cart-menu{
  width: 9rem;
  position: absolute;
  margin-top: 3rem;
  margin-right: -17rem;
  z-index: 10;
  display: block;
}
.cart-menu-button{
  width: 100%;
  padding-right: 3rem;
  height: 2.3rem;
  border: none;
  font-weight: 600;
  display: none;
}
.cart-menu-button:hover{
  color:rgb(53, 180, 3);
}
.button-top{
  padding-right: 2.6rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.button-bottom{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.message{
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  width: 250px;
  height: 45px;
  bottom: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 10px;
  z-index: 20;
}
.message-removed{
  background-color: rgba(46, 253, 46,0.7);
  color: var(--backgroundDarkColor);
}
.swiper{
  overflow: hidden;
  width: 42rem;
  height: 16.5rem;
}

.icon-double-left{
  position: absolute;
  top: 34%;
  left: 2px;
}
.icon-double-right{
  position: absolute;
  top: 30%;
  right: 2px;
}
.cart-small{
  width: 10rem;
  height: 15rem;
  cursor: pointer;
  margin-left: 5px;
}
.cart-small:active{
  cursor: grabbing;
}
.cart-small .cart-day-number{
  transform: translateY(-25px);
}
.cart-small .cart-icon{
  transform: translateY(-25px);
}
.cart-small .cart-weather-info-div{
  height: 2.5rem;
  width: 80%;
  border-radius: 10px;
}
.tempText,.descriptionText{
  position: relative;
}
.tempText:before, .descriptionText:before {
  content: attr(data-hover);
  visibility: hidden;
  font-size: 10px;
  opacity: 0;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity .3s ease-in-out;
  position: absolute;
  z-index: 100;
  left: -2rem;
  top: -2rem;
}
.descriptionText:before{
  font-size: 15px;
  left: -2.1rem;
  top: -3rem;
  width: 120px;
}
.tempText:hover:before,.descriptionText:hover:before {
  opacity: 1;
  visibility: visible;
}
.popup{
  width: 37rem;
  height: 20.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  border-radius: 10px;
  z-index: 15;
}
.popup-cart{
  width: 15rem;
  height: 15.8rem;
  margin-left: 2.2em;
}
.popup-header{
  margin-top: 5px;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.popup-header .btn{
  margin-right: .5em;
}
.popup-main{
  display: flex;
  margin-top: 1em;
  margin-left: 1em;
}
.popup-info{
  margin-left: 5em;
  margin-top: -1em;
}
.popup-info-part{
  display: flex;
  justify-content: space-around;
  margin-top: 1.8em;
}
.popup-info-part-text{
  width: 10em;
  margin-left:1em ;
}
.popup-info-part-text h3{
  font-size: 1.3em;
  font-weight: 100;
}
.popup-info-part-text h4{
  font-weight: 100;
  transform: translateY(5px);
}
.btn-left-right{
  border-radius: 50%;
  cursor: pointer;
} 
.btn-left-right:hover{
  background-color: rgb(32, 30, 30);
}
@media only screen and (max-width:1045px){
  .carts{ width: 55rem; }
  .cart{
    width: 17rem;
    height: 17rem;
    margin-left: .7em;
  }
  .cart-menu{ margin-right: -14rem; }
  .swiper{
    width: 33rem;
    height: 16rem;
   transform: translate(-20px);
  }
  .cart-small{
    width: 10rem;
    height: 14rem;
    margin-left:.5em ;
  }
  .cart-small .cart-day-number{ transform: translateY(-20px); }
  .cart-small .cart-icon{ transform: translateY(-17px); }
  .popup-main{ margin-left: 0em; }
}
@media only screen and (max-width:885px){
  .main-elements{ padding-left: 6em; }
  .carts{ width: 43rem; }
  .cart{
    width: 20rem;
    height: 18rem;
    margin-left: .7em;
  }
  .cart-menu{
    width: 8rem;
    margin-right: -6rem;
  }
  .cart-menu-button{ font-size: 12px; }
  .swiper{
    width: 20rem;
    height: 16rem;
  }
  .cart-small{
    width: 9rem;
    height: 14rem;
    margin-left:.5em ;
  }
  .popup-main{ margin-left: 1.5em; }
}
@media only screen and (max-width:690px){
  .header h2{ margin-left: 2em; }
  .carts{ width: 34rem; }
  .cart{
    width: 16rem;
    height: 16rem;
    margin-left: .5em;
  }
  .cart-menu{ margin-right: -4rem; }
  .cart-menu-button{ font-size: 11px; }
  .swiper{
    width: 16rem;
    height: 14rem;
    transform: translateX(-15px);
  }
  .cart-small{
    width: 7rem;
    height: 12.5rem;
    margin-left:.5em ;
  }
  .cart-small .cart-day{ transform: translateY(-2px); }
  .cart-small .cart-day-number{ transform: translateY(-15px); }
  .popup-main{ margin-left: -1em; }
}
@media only screen and (max-width:550px){
  .main-elements{ padding-left: 3.3em; }
  .carts{ width: 28rem; }
  .cart{
    width: 13rem;
    height: 12rem;
    margin-left: .5em;
  }
  .cart-menu{ margin-right: -4rem; }
  .cart-menu-button{ font-size: 11px; }
  .cart-menu{
    width: 6rem;
    margin-top: 2.2rem;
  }
  .cart-menu-button{
    padding-right: 2rem;
    height: 1.9rem;
    font-size: 8px;
  }
  .cart-weather-info-div{ margin-bottom: 10px; }
  .cart-weather-temp-info{ font-size: 0.7em; }
  .cart .cart-day{ transform: translateY(-10px); }
  .icon-menu{ top: 5px; }
  .cart-weather-state{ transform: translateY(-1px); }
  .swiper{
    width: 9rem;
    height: 12rem;
    transform: translateX(-25px);
  }
  .cart-small{
    width: 8rem;
    height: 11rem;
    margin-left:.5em ;
  }
  .popup{
    width: 28rem;
    height: 17rem;
  }
  .popup-cart{
    width: 13rem;
    height: 12rem;
  }
  .popup-info{
    margin-left: .7em;
    margin-top: -1em;
  }
  .popup-info-part{ margin-top: 1em; }
}
@media only screen and (max-width:450px){
  .main-elements h1{ font-size: 1.5em; }
  .main-elements h2{
    font-size: 1em;
    margin-top: .5em;
  }
  .carts{
    width: 20rem;
    gap: 10px;
  }
  .cart{
    width: 19rem;
    height: 17rem;
    margin-left: .5em;
  }
  .sidebar{ width: 100%; }
  .sidebar-elements{ width: 90%; }
  .sidebar-select {
    width: 90%;
    transform: translateX(-5px);
    margin-left: 5px;
  }
  .sidebar-footer{
    display: flex;
    flex-direction: row;
    right: 4rem;
  }
  .sidebar-footer button{
    height: 35px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sidebar-footer .btn-cancel{ transform: translateX(35px); }
  .cart-menu{
    margin-right: -6rem;
    width: 8rem;
  }
  .cart-menu-button{ font-size: 11px; }
  .cart-weather-temp-info{ font-size: 0.9em; }
  .cart .cart-day{ transform: translateY(-5px); }
  .cart-weather-state{ transform: translateY(-10px); }
  .swiper{
    width: 10rem;
    height: 14.5rem;
    transform: translateX(0px);
  }
  .cart-small{
    width: 9rem;
    height: 13rem;
  }
  .popup{
    width: 20rem;
    height: 27rem;
  }
  .popup-main{flex-direction: column; }
  .popup-cart{
   margin-left: 68px;
    height: 12.9rem;
  }
  .popup-info{
    margin-left: 4em;
    margin-top: -.4em;
  }
  .popup-info-part{
    margin-top: .5em;
    transform: translateX(-55px);
  }
  .popup-info-part-text{ font-size: .8em; }
}
@media only screen and (max-width:375px){
  .sidebar-footer{
    right: 3rem;
  }
}
@media only screen and (max-width:320px){
  .main-elements{ padding-left: 2.5em; }
  .sidebar-footer{
    right: 2.5rem;
  }
  .sidebar-footer .btn-cancel{ transform: translateX(45px); }
  .delete-city-footer{
    right: 1.5rem;
  }
  .header h2{ margin-left: 1.2em; }
  .header button{ margin-right: 1.2em; }
  .carts{ width: 15rem; }
  .cart{
    width: 14rem;
    height: 16rem;
    margin-left: .5em;
  }
  .cart-menu{
    margin-right: -5rem;
    width: 7rem;
  }
  .cart-weather-temp-info{ font-size: 0.8em; }
  .swiper{
    width: 10rem;
    height: 14.5rem;
    transform: translateX(0px);
  }
  .cart-small{
    width: 9rem;
    height: 13rem;
  }
  .popup{
    width: 15rem;
  }
  .popup-cart{
    margin-left: 28px;
  }
  .popup-info-part{
    margin-top: .5em;
    transform: translateX(-35px);
  }
  .popup-header p{
    font-size: .9em;
  }
}
@media only screen and (max-width:280px){
  .header h2{
    font-size: 1em;
  }
}